<!-- RedditPix  -->
<!DOCTYPE html>
<html lang = "en" xmlns:fb="http://ogp.me/ns/fb#">
	{% include "head.html" %}

	<!--Start Body-->
	<body onload="setupBlocks();">

	{% include "facebookJDK.html" %}

		<div class = "container">	
			<!--Top Banner Strip-->
			<header>
				<div class = "topStrip">
                
					<!-- Left Side About and Reddit -->
					<div class = "leftTopStrip">
						<a href = "http://www.redditpix.com/about/"><div class = "leftBox">About</div></a>
						<a href = "http://www.reddit.com/"><div class = "leftBox">Reddit</div></a>
					</div>
                
                	{% include "topBanner.html" %}
                
				</div>
			</header>
			<!--End Top Banner Strip-->
			
			<!--Information Body-->
			{% include page_template %}
			<!--End Information Body-->
			
			<!--clears footer-->
			<div class = "clearfooter"></div>
			
		</div>
		
		{% include "footer.html"%}
		
	</body>

</html>
