<!-- Head -->
<head>
	<meta http-equiv = "Content-Type" content = "text/html; charset = UTF-8"/>
	<link rel = "stylesheet" type = "text/css" href = "{{STATIC_URL}}css/style.css" />
	
	<!-- Lightbox stuff -->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/lightbox.css" media="screen" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/lightbox.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/display-orig.js"></script>
	<script type="text/javascript" src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js"></script>
	<link rel = "shortcut icon" type = "image/x-icon" href = "{{STATIC_URL}}images/favicon.ico">

	<title> RedditPix </title>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-34166355-1']);
	  _gaq.push(['_trackPageview']);
	  
	  (function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	  
	</script>
</head>
