<!-- RedditPix Image Template  -->
<!DOCTYPE html>
<html lang = "en">

  <head>
    <link rel = "shortcut icon" type = "image/x-icon" href = "{{STATIC_URL}}images/favicon.ico">
    <script type="text/javascript">
      
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34166355-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  
    </script>
  </head>

  <style>
    
    body {
      margin: 0px;
      line-height: 80%;
    }

    a {
      text-decoration: underline;
      color: blue;
    }

    a:visited {
      color:purple;
    }

    a:hover {
      text-decoration: none;
    }
    
  </style>

	<!--Start Body-->
	<body>
			
			<!--Information Body-->
			<img src = "{{post.link}}">
			</br></br>{{post.title}}
			</br></br><a href = "http://www.redditpix.com">Visit RedditPix.com</a>
			<!--End Information Body-->
		
	</body>

</html>
