<!--Title of Page-->
<div class = "middleTopStrip">
	<h1 style = "font-size: 34px; color: white; margin-top: 0px; font-family: 'Zag';">RedditPix</h1>
</div>

<!-- Social Media Links -->
<div class = "rightTopStrip">
	
	<!-- Twitter Button -->
	<div class = "socialBox" style = "float: right">
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.redditpix.com" data-via="RedditPix" style = "float:right;">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
	
	<!-- Twitter Image-->
	<div class = "socialBox" style = "float: right">
		<a href = "https://twitter.com/RedditPix"><abbr title = "@RedditPix!"><img class = "fbPix" src = "../static/images/twitter.png"></abbr></a> 
	</div>
		
	<!-- Facebook button-->
	<div class="fb-like" data-href="https://www.facebook.com/RedditPix" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial" style = "top: 0px; width: 75px; float: right; background-color: ;"></div>        

	<!--Facebook Image-->
	<div class = "socialBox" style = "float: right">
		<a href = "http://www.facebook.com/RedditPix"><abbr title = "RedditPix Facebook!"><img class = "fbPix" src = "../static/images/fb.png"></abbr></a> 
	</div> 	
				
</div>

<div class = "clear"></div>